.body {
  background-image: url("./landscape.jpg") !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin: 1rem;
}
#logo{
  width: 420px;
  height: 140px;
  position: relative;
  top: 10px;
  left: 20px
}

.article {
  background-color: #fffbf3;
        width: 1000px;
        height: 800px;
        margin: 6em auto;
        border-radius: 1.5em;
        box-shadow: 1px 11px 35px 2px rgba(0, 0, 0, 0.14);
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  top: -90px;
}

.search_area{
   background-color: #fffbf3;


        margin: 6em auto;
        border-radius: 1.5em;
        box-shadow: 1px 11px 35px 2px rgba(0, 0, 0, 0.14);
  font-family: 'Ubuntu', sans-serif;
  position: relative;
    width: 340px;
    top: 300px;
    right:-500px;
    height: 310px;


}

/*container_param{*/
/*     position: inherit;*/
/*     top: -50px;*/
/* }*/

/*.action-button {*/
/*	cursor: pointer;*/
/*        border-radius: 5em;*/
/*        color: #fff;*/
/*        background: linear-gradient(to right, #9C27B0, #E040FB);*/
/*        border: 0;*/
/*        padding-left: 40px;*/
/*        padding-right: 40px;*/
/*        padding-bottom: 10px;*/
/*        padding-top: 10px;*/
/*        font-family: 'Ubuntu', sans-serif;*/
/*        margin-left: 35%;*/
/*        font-size: 13px;*/
/*        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);*/
/*}*/
/*.action-button:hover,.action-button:focus {*/
/*	box-shadow: 0 0 0 2px white, 0 0 0 3px #1f3dab;*/
/*}button:hover,.action-button:focus {*/
/*	box-shadow: 0 0 0 2px white, 0 0 0 3px #1f3dab;*/
/*}*/


/*.free_search_input {*/
/*  text-align: center;*/
/*  position: relative;*/
/*  left: 5px;*/
/*}*/

/*#select-region {*/
/*   text-align: center;*/
/*  position: relative;*/
/*  top: -25px;*/
/*  left: 128px;*/
/*}*/


/*.custom-select select {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    border: none;*/
/*    background: transparent;*/
/*    padding: 0 10px;*/
/*    appearance: none;*/
/*    position: relative;*/
/*    z-index: 2;*/
/*    cursor: pointer;*/
/*}*/

/*.custom-select::after {*/
/*    content: "\f078";*/
/*    font-weight: bold;*/
/*    font-size: 18px;*/
/*    border-radius: 5px;*/
/*    display: block;*/
/*    width: 40px;*/
/*    height: 40px;*/
/*    line-height: 40px;*/
/*    text-align: center;*/
/*    background: #00f;*/
/*    color: #fff;*/
/*    position: absolute;*/
/*    top: 10px;*/
/*    right: 10px;*/
/*    z-index: 1;*/
/*}*/

/*h2 {*/
/*	color: #2a2727;*/
/*	font-size: 17px;*/
/*	position: relative;*/
/*	 text-align: center;*/
/*	 left:-55px;*/
/*	top: -15px;*/
/*}*/

/*table, th, td {*/
/*  border: 1px solid black;*/
/*  border-collapse: collapse;*/
/*}*/
/*th, td {*/
/*  padding: 15px;*/
/*}*/

