.body {
  background-image: url("./landscape.jpg") !important;
position: fixed;
top: 0;
width: 100%;
height: 100%;
background-size: cover;

}
.form-light .font-small {
  font-size: 0.8rem; }

.form-light [type="radio"] + label,
.form-light [type="checkbox"] + label {
  font-size: 0.8rem; }

.form-light [type="checkbox"] + label:before {
  top: 2px;
  width: 15px;
  height: 15px; }

.form-light input[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  z-index: 0;
  border-radius: 1px;
  margin-top: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.form-light input[type="checkbox"]:checked + label:before {
  top: -4px;
  left: -3px;
  width: 12px;
  height: 22px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent #EB3573 #EB3573 transparent;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left :10px;
}
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}
.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.text_of_circle {
  margin: auto;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
}
.form-light .footer {
  border-bottom-left-radius: .3rem;
  border-bottom-right-radius: .3rem; }
#logo{
  width: 420px;
  height: 140px;
  position: relative;
  top: 10px;
  left: 20px
}

.article {
  background-color: #fffbf3;
        width: 1000px;
        height: 1200px;
        margin: 6em auto;
        border-radius: 1.5em;
        box-shadow: 1px 11px 35px 2px rgba(0, 0, 0, 0.14);
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  top: -90px;
}

.search_area{
  background-color: rgba(123, 188, 219, 0.2);
  margin: 6em auto;
  border-style: solid;
  border-color: #acacac;
  border-radius: 1.5em;
  box-shadow: 10px 18px 10px 5px rgba(162, 118, 118, 0.25);
  position: absolute;
  width: 340px;
  top: 50px;
  right:0px;
  height: 550px;
}


.lab{
    size:30px;
}
/*container_param{*/
/*     position: inherit;*/
/*     top: -50px;*/
/* }*/
