{% extends "base.html"%}
{% block title %}
    <title>Login</title>
        <link href="../static/login_page.css" rel="stylesheet" type="text/css">

{% endblock %}

{% block body %}
<form method="POST" action="/">
 <article>
    <div class="container">
        <img src="/frontend/src/styles/logo.PNG" id="logo" alt="Trulli">
        <div class="main">
            <p class="sign" align="center">Sign in</p>
             <form class="form1"/>
            <input class="Email" type="text" align="center" name ="input_email" id ="input_email" placeholder="Email">
            <br><br>
            <input class="ID" type="text" id = 'input_id' name="input_id" align="center" placeholder="ID">
             <br><br>
            <input type="submit" name="SignIn" class="next action-button" value="Sign In" />
            <a href="signup">Not A Member? Sign Up</a>
            {% if status is sameas True %}
            <p>Login succeeded</p>
            {% elif status is defined%}
                <p class="login_fail" align="right">Login failed, wrong email/id.</p>
            {% endif  %}

        </div>
    </div>
 </article>
    </form>
{% endblock %}
